* {
    font-family: $space-font;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    background-color: $black-color;    
    color: white;
} 

a{
    color: white;
    text-decoration: none;
}

img{
    width: 100%;
}

input,textarea{
    border: none;
    background: none;
    padding: 5px 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
    text-transform: uppercase;
    color: white;

    &:focus{
        outline: none;
        border-color: $main-color;
    }
}

.highlight{
    font-weight: bold;
    color: $main-color;
  }

.underlined{
    text-decoration-line: underline;
      text-decoration-color: $main-color;
      text-underline-offset: 10px;
    margin-bottom: 20px;
}